@model IEnumerable<WebsiteRegisteredLearningPlan.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/QuanLy.cshtml";
}

<section class="section-margin" style="margin-left: 5%; margin-right:5%; background-color:white">
    <h2 style="color:black">Danh sách tài khoản</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Họ và tên</th>

                <th>Email</th>

                <th>Số điện thoại</th>

                <th>Chức vụ</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CTTAIKHOAN.hovaten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CTTAIKHOAN.sdt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CTTAIKHOAN.sdt)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
