<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lorahost hosting - Home</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png">

    <link rel="stylesheet" href="@Url.Content("~/Content/vendors/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendors/themify-icons/themify-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendors/owl-carousel/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendors/owl-carousel/owl.carousel.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")">
</head>
<body>


    <!--================ Header Menu Area start =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="index.html"><img height="80" width="180" src="@Url.Content("~/Content/img/vluno.png")" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item active"><a class="nav-link" href="~/">Trang Chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/SinhVien/XemCTDT/XemCTDT">Chương Trình Đào Tạo</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/SinhVien/DangkyKHHT/DangkyKHHT">Đăng Ký kế hoạch học tập</a>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Học Kỳ</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="#">Học Kỳ 1</a>
                                    <li class="nav-item"><a class="nav-link" href="#">Học Kỳ 2</a>
                                    <li class="nav-item"><a class="nav-link" href="#">Học Kỳ 3</a>
                                    <li class="nav-item"><a class="nav-link" href="#">Học Kỳ 4</a>
                                    <li class="nav-item"><a class="nav-link" href="#">Học Kỳ 5</a>
                                    <li class="nav-item"><a class="nav-link" href="#">Học Kỳ 6</a>
                                    <li class="nav-item"><a class="nav-link" href="#">Học Kỳ 7</a>
                                    <li class="nav-item"><a class="nav-link" href="#">Học Kỳ 8</a>
                                </ul>
                            </li>
                            @*<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>*@
                        </ul>

                        <div class="nav-right text-center text-lg-right py-4 py-lg-0">
                            @*<a class="button button-link mr-4" href="#"><span class="align-middle"><i class="ti-comments"></i></span> Live Chat</a>*@
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="button button-outline button-small" href="#">Login</a>
                                <form action="/account/ExternalLogin" method="post" style="display: none">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" id="VanLang" name="provider" value="VanLang">Login</button>
                                </form>
                            }
                            else
                            {
                                <a class="button button-outline button-small" href="#">@User.Identity.Name</a>
                            }
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    @RenderBody()
    <!-- ================ start footer Area ================= -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Đại Học Văn Lang</h4>
                    <p>Trở thành một trong những trường Đại học trẻ được ngưỡng mộ nhất Châu Á vào năm 2030</p>
                    <a class="navbar-brand logo_h d-none d-xl-block" href="index.html"><img height="80" width="180" src="@Url.Content("~/Content/img/vluno.png")" alt=""></a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Khoa Công Nghệ Thông Tin</h4>
                    <ul>
                        <li>Địa chỉ : Tầng 5 toà nhà hành chính L-V, Cơ sở 3 69/68 Đặng Thùy Trâm,  P.13, Q. Bình Thạnh, TP. HCM</li>
                        <li><a href="tel:+84871099240">Phone: 028.7109.9240</a></li>
                        <li><a href="">Email: k.cntt@vanlanguni.edu.vn</a></li>
                        <li><a href="http://cntttest.vanlanguni.edu.vn:18080/">Website:http://cntttest.vanlanguni.edu.vn:18080</a></li>
                    </ul>
                </div>
                @*<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Important Link</h4>
                    <ul>
                        <li><a href="#">WHMCS-bridge</a></li>
                        <li><a href="#">Search Domain</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Our Shop</a></li>
                    </ul>*@
            </div>
            @*<div class="offset-xl-1 col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Newsletter</h4>
                <p>Heaven fruitful doesn't over lesser in days. Appear creeping seasons deve behold bearing days open</p>

                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get">
                        <div class="input-group">
                            <input type="email" class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                            <div class="input-group-append">
                                <button class="btn click-btn" type="submit">
                                    <i class="ti-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>

                        <div class="info"></div>
                    </form>
                </div>*@

        </div>
        </div>
        <div class="footer-bottom row align-items-center text-center text-lg-left">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Năm &copy;
                <script>document.write(new Date().getFullYear());</script>Software Engineering | VLU <i class="ti-heart" aria-hidden="true"></i> by <a href="http://cntttest.vanlanguni.edu.vn:18080/" target="_blank">Team 14 VLU CNTT</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter-alt"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
            </div>
        </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->




    <script src="@Url.Content("~/Content/vendors/jquery/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/vendors/bootstrap/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Content/vendors/owl-carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.ajaxchimp.min.js")"></script>
    <script src="@Url.Content("~/Content/js/mail-script.js")"></script>
    <script src="@Url.Content("~/Content/js/main.js")"></script>
    <script>
        $('.button.button-outline.button-small').click(() => {
            $('#VanLang').click();
        })
    </script>
</body>
</html>