@model WebsiteRegisteredLearningPlan.Models.CTDT

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/SinhVien/Views/Shared/SinhVien.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTDT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenhp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenhp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mahp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mahp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinchi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinchi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOCKY1.tenhk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOCKY1.tenhk)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
