@model IEnumerable<WebsiteRegisteredLearningPlan.Models.CTDT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SinhVien/Views/Shared/SinhVien.cshtml";
}

<head>
    <!-- Custom fonts for this template-->
    <link href="~/Content/tableasset/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Content/tableasset/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/tableasset/css/sb-admin.css" rel="stylesheet" />
</head>

<section class="section-margin">

    <div class="card mb-3">
        <div class="card-header">
            <h2 style="color:red; text-align: center">Chương trình đào tạo</h2>
        </div>
        

        <div class="card-body">
            <div class="row" style="float:right; margin-right:3.5em">
                <div class="col-ld" style="text-align:center">
                    <form action="@Url.Action("Search", "CTDTs")" method="get">
                        <p id="dataTable_filter" class="dataTables_filter">
                            <label><input style="text-align:center" type="text" name="keyword" class="form-control form-control-sm" placeholder="Tìm kiếm môn học" aria-controls="dataTable"></label>
                        </p>
                    </form>
                </div>
                <div class="col-ld" style="text-align:center">
                    <form action="@Url.Action("SearchHP", "CTDTs")" method="get">
                        <p id="dataTable_filter" class="dataTables_filter">
                            <label><input style="text-align:center" type="text" name="keyword" class="form-control form-control-sm" placeholder="Tìm kiếm mã học phần" aria-controls="dataTable"></label>
                        </p>
                    </form>
                </div>
                <div class="col-ld" style="text-align:center">
                    <form action="@Url.Action("SearchHK", "CTDTs")" method="get">
                        <p id="dataTable_filter" class="dataTables_filter">
                            <label><input style="text-align:center" type="text" name="keyword" class="form-control form-control-sm" placeholder="Tìm kiếm học kỳ" aria-controls="dataTable"></label>
                        </p>
                    </form>
                </div>
            </div>
            
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr style="text-align:center; color:#d9001b">
                                    <th>STT</th>
                                    <th rowspan="1" colspan="1">Mã học phần</th>
                                    <th rowspan="1" colspan="1">Tên học phần</th>
                                    <th rowspan="1" colspan="1">Tín chỉ</th>
                                    <th rowspan="1" colspan="1">Học kỳ</th>
                                </tr>
                            </thead>
                            <tfoot></tfoot>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr style="text-align:center">
                                        <td></td>
                                        <td>
                                            @item.mahp
                                        </td>
                                        <td>
                                            @item.tenhp
                                        </td>
                                        <td>
                                            @item.tinchi
                                        </td>
                                        <td>
                                            @item.HOCKY1.tenhk
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/Content/tableasset/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Content/tableasset/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="~/Content/tableasset/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/Content/tableasset/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/Content/tableasset/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="~/Content/tableasset/js/sb-admin-datatables.min.js"></script>