@model WebsiteRegisteredLearningPlan.Models.KETQUADANGKY

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/SinhVien/Views/Shared/SinhVien.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KETQUADANGKY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngaydk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTDT.tenhp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTDT.tenhp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
